@import './css/font.css';
@import './css/reset.css';
@import './css/normalize.css';
@import './css/reset-html.css';

@import './css/animation.css';

:root {
  font-family: 'Google Sans Flex';

  --bg-primary: #000000;
  --bg-secondary: #0f0f11;
  --bg-tertiary: #101012;

  --text-primary: #e4e2e5;
  --text-secondary: #c3c9db;
  --text-accent: #7e7c7b;

  --button-color: #ffffff;
  --accent-color: #000000;
  --accent-hover: #ebebeb;

  --grid-color: rgba(160, 160, 160, 0.05);
}

[data-theme='blue'] {
  --bg-primary: #10131c;
  --bg-secondary: #181b24;
  --bg-tertiary: #191b24;

  --text-primary: #e1e2ee;
  --text-secondary: #c1cfff;
  --text-accent: #3f97ff;

  --button-color: #b3c5ff;
  --accent-color: #002b75;
  --accent-hover: #a5b9f4;

  --grid-color: #1e202a;
}

[data-theme='purple'] {
  --bg-primary: #15121d;
  --bg-secondary: #1e1a25;
  --bg-tertiary: #1e1a25;

  --text-primary: #e8dff0;
  --text-secondary: #dcc9ff;
  --text-accent: #851b8e;

  --button-color: #d2bcff;
  --accent-color: #69008e;
  --accent-hover: #c7adf6;

  --grid-color: #231f2b;
}

[data-theme='green'] {
  --bg-primary: #0e150f;
  --bg-secondary: #161c17;
  --bg-tertiary: #161d17;

  --text-primary: #dde5da;
  --text-secondary: #a5dcad;
  --text-accent: #869486;

  --button-color: #9fffb3;
  --accent-color: #08421f;
  --accent-hover: #93efa7;

  --grid-color: #1c231d;
}

[data-theme='red'] {
  --bg-primary: #1e0f0e;
  --bg-secondary: #261515;
  --bg-tertiary: #271716;

  --text-primary: #fadcd8;
  --text-secondary: #ffc8c2;
  --text-accent: #ab8985;

  --button-color: #ffb4ac;
  --accent-color: #271716;
  --accent-hover: #f3a6a0;

  --grid-color: #301e1c;
}

[data-theme='orange'] {
  --bg-primary: #1b110a;
  --bg-secondary: #231811;
  --bg-tertiary: #241912;

  --text-primary: #f3dfd2;
  --text-secondary: #ffcaa6;
  --text-accent: #9c8475;

  --button-color: #ffbc8d;
  --accent-color: #6a3c16;
  --accent-hover: #512702;

  --grid-color: #271c15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.hero {
  text-align: center;
  animation: fadeInUp 0.8s ease-out;

  & h1 {
    color: var(--text-primary);
  }

  & > .hero-logo {
    width: 220px;
    height: auto;
    position: relative;
    display: flex;
    border-radius: 9999px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    object-fit: contain;
    background-color: var(--bg-tertiary);
  }
}

.hero-title {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--text-primary);
}

.hero-description {
  font-size: 1.5rem;
  color: var(--text-secondary);
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.grid-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 24px 24px;
  pointer-events: none;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ticket {
  background-color: var(--button-color);
  color: var(--accent-color);
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: var(--accent-hover);
  }

  &:focus {
    outline: 2px solid var(--text-accent);
    outline-offset: 2px;
  }
}
